<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Personal Blog</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div>
            <h1 class="text">Personal Blog</h1>
            <form action="{{url_for('new')}}">
                <button type="submit">Add</button>
            </form>
            {% for article in articles %}
                <li class="text">
                    <a href="{{ url_for('article', article_id = article.id) }}">
                    <strong>{{ article.title }}</strong>
                    </a> 
                    <form action="{{ url_for('edit', article_id = article.id) }}">
                        <button type="submit">Edit</button>
                    </form>
                    <form action="{{ url_for('admin') }}" method="post">
                        <button type="submit" name="delete" value="delete {{article.id}}">Delete</button>
                    </form>
                </li> 
            {% endfor %}
        </div>
    </body>
</html>