<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Personal Blog</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <div>
            <h1 class="text">Personal Blog</h1>
            <form class="addForm" action="{{url_for('new')}}">
                <button type="submit">Add</button>
            </form>
            {% for article in articles %}
                <li class="text">
                    <a href="{{ url_for('article', article_id = article.id) }}">
                    <strong>{{ article.title }}</strong>
                    </a> - {{ article.date }}
                </li> 
            {% endfor %}
        </div>
    </body>
</html>