<!DOCTYPE html>
<html>
    <head>
        <title>Personal Blog</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <div>
            <h1 class="text">Personal Blog</h1>
            {% for article in articles %}
                <li class="text">
                    <a href="{{ url_for('article', article_id = article.id) }}">
                    <strong>{{ article.title }}</strong>
                    </a> - {{ article.date }}
                </li> 
            {% endfor %}
        </div>
    </body>
</html>